entrega3/.ropeproject/entrega1/Flows.json
[{"id":"e7378cf4.367d7","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"2d3a2e6a.2f0ec2","type":"serial in","z":"e7378cf4.367d7","name":"Hub","serial":"847bf461.7a4dd8","x":140,"y":140,"wires":[["bb1b67b9.f8abb8","f19b7740.ebc288"]]},{"id":"bb1b67b9.f8abb8","type":"debug","z":"e7378cf4.367d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":360,"y":120,"wires":[]},{"id":"f19b7740.ebc288","type":"function","z":"e7378cf4.367d7","name":"Format Alarm","func":"var res = {};\nvar arr = [];\n\nvar str = msg.payload;\narr = str.split(\"\\n\");\nstr = arr[0];\narr = str.split(\"\\r\");\nres.payload = {};\nswitch(arr[0])\n{\n    case \"Number of attempts exceeded\":\n        res.topic = \"permissionDenied\";\n        res.payload = {\"data\": arr[0], \"hubId\": 1}\n        break;\n    case \"Motion detected!\":\n        res.topic = \"suspiciousMotion\";\n        res.payload = {\"data\": arr[0], \"hubId\": 1}\n        break;\n    case \"Door open more than 30s\":\n        res.topic = \"doorOpen\";\n        res.payload = {\"data\": arr[0], \"hubId\": 1}\n        break;\n}\n\nreturn res;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["deecc105.67644","4da8a4d3.4605dc"]]},{"id":"deecc105.67644","type":"debug","z":"e7378cf4.367d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":160,"wires":[]},{"id":"c7d2aff3.56379","type":"inject","z":"e7378cf4.367d7","name":"Sensor Time","topic":"time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["5715fc7e.adfc54"]]},{"id":"5715fc7e.adfc54","type":"function","z":"e7378cf4.367d7","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["7abfb735.336128","4da8a4d3.4605dc"]]},{"id":"7abfb735.336128","type":"debug","z":"e7378cf4.367d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":380,"wires":[]},{"id":"4da8a4d3.4605dc","type":"function","z":"e7378cf4.367d7","name":"Merge","func":"context.data = context.data || {};\n\nswitch(msg.topic)\n{\n    case \"permissionDenied\":\n        context.data.permissionDenied = msg.payload;\n        msg = null;\n        break;\n    case \"suspiciousMotion\":\n        context.data.suspiciousMotion = msg.payload;\n        msg = null;\n        break;\n    case \"doorOpen\":\n        context.data.doorOpen = msg.payload;\n        msg = null;\n        break;\n    case \"time\":\n        context.data.time = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif(context.data.permissionDenied != null && context.data.time != null)\n{\n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"medium/house1/permissionDenied\";\n    context.data = null;\n    return res;\n}\n\nelse if(context.data.suspiciousMotion != null && context.data.time != null)\n{\n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"high/house1/suspiciousMotion\";\n    context.data = null;\n    return res;\n}\n\nelse if(context.data.doorOpen != null && context.data.time != null)\n{\n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"low/house1/doorOpen\";\n    context.data = null;\n    return res;\n}","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["86a7b64c.6b0748","9c0970ac.ab3c7"]]},{"id":"86a7b64c.6b0748","type":"debug","z":"e7378cf4.367d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":220,"wires":[]},{"id":"9c0970ac.ab3c7","type":"mqtt out","z":"e7378cf4.367d7","name":"Untitled Theme 1","topic":"","qos":"0","retain":"false","broker":"b7d0ae5c.9c741","x":860,"y":320,"wires":[]},{"id":"847bf461.7a4dd8","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"b7d0ae5c.9c741","type":"mqtt-broker","z":"","name":"","broker":"172.24.41.153","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
