entrega1/Flows.json
[{"id":"e7378cf4.367d7","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"33126991.377cf6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"847bf461.7a4dd8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"32c6190f.7ed606","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"f2c7b91e.8c0088","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d562151f.1bc468","type":"ui_group","z":"","name":"Estado del Deposito","tab":"f2c7b91e.8c0088","disp":true,"width":"8","collapse":false},{"id":"47a63bb4.ca3794","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2d3a2e6a.2f0ec2","type":"serial in","z":"e7378cf4.367d7","name":"Hub","serial":"847bf461.7a4dd8","x":140,"y":140,"wires":[["bb1b67b9.f8abb8","f19b7740.ebc288"]]},{"id":"bb1b67b9.f8abb8","type":"debug","z":"e7378cf4.367d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":360,"y":120,"wires":[]},{"id":"f19b7740.ebc288","type":"function","z":"e7378cf4.367d7","name":"Format Alarm","func":"var res = {};\nvar arr = [];\n\nvar str = msg.payload;\narr = str.split(\"\\n\");\nstr = arr[0];\narr = str.split(\"\\r\");\nres.payload = {};\nswitch(arr[0])\n{\n    case \"Number of attempts exceeded\":\n        res.topic = \"permissionDenied\";\n        res.payload = {\"data\": arr[0], \"hubId\": 1}\n        break;\n    case \"Motion detected!\":\n        res.topic = \"suspiciousMotion\";\n        res.payload = {\"data\": arr[0], \"hubId\": 1}\n        break;\n    case \"Door open more than 30s\":\n        res.topic = \"doorOpen\";\n        res.payload = {\"data\": arr[0], \"hubId\": 1}\n        break;\n}\n\nreturn res;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["deecc105.67644","4da8a4d3.4605dc"]]},{"id":"deecc105.67644","type":"debug","z":"e7378cf4.367d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":160,"wires":[]},{"id":"c7d2aff3.56379","type":"inject","z":"e7378cf4.367d7","name":"Sensor Time","topic":"time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["5715fc7e.adfc54"]]},{"id":"5715fc7e.adfc54","type":"function","z":"e7378cf4.367d7","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["7abfb735.336128","4da8a4d3.4605dc"]]},{"id":"7abfb735.336128","type":"debug","z":"e7378cf4.367d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":380,"wires":[]},{"id":"4da8a4d3.4605dc","type":"function","z":"e7378cf4.367d7","name":"Merge","func":"context.data = context.data || {};\n\nswitch(msg.topic)\n{\n    case \"permissionDenied\":\n        context.data.permissionDenied = msg.payload;\n        msg = null;\n        break;\n    case \"suspiciousMotion\":\n        context.data.suspiciousMotion = msg.payload;\n        msg = null;\n        break;\n    case \"doorOpen\":\n        context.data.doorOpen = msg.payload;\n        msg = null;\n        break;\n    case \"time\":\n        context.data.time = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif(context.data.permissionDenied !== null && context.data.time !== null)\n{\n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"permissionDenied\";\n    context.data = null;\n    return res;\n}\n\nelse if(context.data.suspiciousMotion !== null && context.data.time !== null)\n{\n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"suspiciousMotion\";\n    context.data = null;\n    return res;\n}\n\nelse if(context.data.doorOpen !== null && context.data.time !== null)\n{\n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"doorOpen\";\n    context.data = null;\n    return res;\n}","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["86a7b64c.6b0748","ed49b4b4.191bc8"]]},{"id":"86a7b64c.6b0748","type":"debug","z":"e7378cf4.367d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":220,"wires":[]},{"id":"ed49b4b4.191bc8","type":"udp out","z":"e7378cf4.367d7","name":"Send Alarms","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":830,"y":300,"wires":[]},{"id":"872a0c26.09c28","type":"udp in","z":"33126991.377cf6","name":"Llegue","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":120,"y":180,"wires":[["2541fa67.53b6d6","ce883aab.3aa128"]]},{"id":"2541fa67.53b6d6","type":"debug","z":"33126991.377cf6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":120,"wires":[]},{"id":"ce883aab.3aa128","type":"json","z":"33126991.377cf6","name":"","property":"payload","action":"","pretty":false,"x":270,"y":220,"wires":[["d8ab6a99.ef0288"]]},{"id":"d8ab6a99.ef0288","type":"debug","z":"33126991.377cf6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":440,"y":180,"wires":[]}]
